<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/initDB</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>
        <mapping class="DAO.entities.CompaniesEntity"/>
        <mapping class="DAO.entities.CompanysProjectsEntity"/>
        <mapping class="DAO.entities.CustomersEntity"/>
        <mapping class="DAO.entities.CustomersProjectsEntity"/>
        <mapping class="DAO.entities.DevelopersEntity"/>
        <mapping class="DAO.entities.DevelopersSkillsEntity"/>
        <mapping class="DAO.entities.DevelopersProjectsEntity"/>
        <mapping class="DAO.entities.ProjectsEntity"/>
        <mapping class="DAO.entities.SkillsEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>